body {
    margin: 0;
}
.header {
  width: 100%;
  height: 200px;
  color: white;
  align-content: center;
  text-align: center;
  background-color: blue;
  border-radius: 0px;
}
.navbar-container {
  text-align: center;
  margin: 0px 0;
}


.navbar {
  width: 100%;
  height: 40px;
  align-content: center;

  background-color: skyblue ;
  padding: 10px 5px;
  border-radius: 0px;
}


.navbar a {
  text-decoration: none;
  color: blue;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}


.navbar a:hover {
  background-color: white;
}


.navbar a.active {
  background-color: blue;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}
.main {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sidebar {
  float: left;
  height: auto;
  width: 25%;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.aside {
  float: right;
  width: 68%;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.clearfix {
  clear: both;
}

.push {
  height: 320px;
}



.footer {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px 0;
  clear: both;
  margin-top: 20px;
}
